{:kotoba.app/id "cloud.itonami.isic-5590", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibrbh2y4a6v2ledj7weenolwji46cdjimstiwg34a5bgomni5qe3y", :kotoba.app/embed-url "ipfs://bafkreibrbh2y4a6v2ledj7weenolwji46cdjimstiwg34a5bgomni5qe3y", :published {:archive "https://kotobase.net/ipfs/bafkreibrbh2y4a6v2ledj7weenolwji46cdjimstiwg34a5bgomni5qe3y", :size 72851, :put-status 201, :get-status 200, :at "2026-08-15T13:32:45.627Z"}}
